.container {
    margin: 100px auto;
    padding: 50px;
    border: 2px solid cadetblue;
    box-shadow: 0 0 5px cadetblue;
    width: 800px;
    background-color: lightsteelblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 50px;
    width: 700px;
    height: 70px;
    border: 1px solid dodgerblue;
    box-shadow: dodgerblue;
    background-color: white;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 68px;
    margin-left: 50px;
    background-image: url(../img/1416508.jpg);
    background-size: cover;
}

.button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-family: cursive;
    border: 1px ridge cadetblue ;
    border-radius: 3px;
    box-shadow: 0 0 5px cadetblue;
    padding: 10px;
    margin-right: 50px;
}

.board {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 700px;
    height: 350px;

    border: 1px solid dodgerblue;
    background-color: white;
}

.not-found {
    margin: auto;
    display: block;
    color: grey;
    font-size: 22px;
    font-family: cursive;
}

.reques {
    display: inline-block;
    height: 140px;
    width: 140px;
    margin: 16px;
    border: 1px solid sandybrown;
    display: none;
}